<h2>Students</h2>

<table border="1">
    <tr>
        <th>ID &nbsp;</th>

        <th>Name</th>
    </tr>

    @foreach (var s in ViewBag.Students)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
        </tr>
    }

</table>

<h2>Request Logs</h2>

<table border="1">
    <tr>
        <th>URL</th>
        <th>Execution Time (ms)</th>
    </tr>

    @foreach (var log in ViewBag.Logs)
    {
        <tr>
            <td>@log.Url</td>
            <td>@log.ExecutionTime</td>
        </tr>
    }
</table>