@model HotelManagementSystem.Models.Room

<h2>Add Room</h2>

<form asp-action="Create" method="post">

	<div class="mb-3">
		<label asp-for="RoomNumber"></label>
		<input asp-for="RoomNumber" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="RoomType"></label>
		<input asp-for="RoomType" class="form-control" />
	</div>

	<div class="mb-3">
		<label asp-for="PricePerDay"></label>
		<input asp-for="PricePerDay" class="form-control" />
	</div>

	<button type="submit" class="btn btn-success">Save</button>

</form>