<h3 class="text-center">Add Doctor</h3>

<div class="container-fluid d-flex justify-content-center align-item-center">
    <div class="card border-0 rounded-4 shadow p-4 mt-4 w-50">
        <form asp-controller="Doctor" asp-action="Create" method="post">
            <div class="mb-3">
                <label class="form-label" for="Name">Enter Doctor Name</label>
                <input class="form-control" id="Name" name="Name" placeholder="Enter your Name" />
            </div>

            <div class="mb-3">
                <label class="form-label" for="PhoneNumber">Enter Mobile Number</label>
                <input class="form-control"id="PhoneNumber" name="PhoneNumber" placeholder="Enter Mobile Number" />
            </div>

            <div class="mb-3 text-center">
                <button class="btn btn-dark" >Add Doctor</button>
            </div>
        </form>
    </div>
</div>