<h2>Welcome to Taj Hotel</h2>

<div class="row">

    <div class="col-md-3">
        <a asp-controller="Customer" asp-action="Index" class="text-decoration-none">
            <div class="card bg-primary text-white p-3 text-center">
                <h4>Customers</h4>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-controller="Room" asp-action="Index" class="text-decoration-none">
            <div class="card bg-success text-white p-3 text-center">
                <h4>Rooms</h4>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-controller="Booking" asp-action="Index" class="text-decoration-none">
            <div class="card bg-warning text-dark p-3 text-center">
                <h4>Bookings</h4>
            </div>
        </a>
    </div>

    <div class="col-md-3">
        <a asp-controller="Billing" asp-action="Index" class="text-decoration-none">
            <div class="card bg-info text-white p-3 text-center">
                <h4>Billing</h4>
            </div>
        </a>
    </div>

</div>