@model IEnumerable<EmployeeProjectSystem.Models.Department>

<h2>Departments</h2>

<a asp-action="Create" class="btn btn-primary mb-2">Add Department</a>

<table class="table table-bordered">

	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>

		@foreach (var item in Model)
		{
			<tr>

				<td>@item.Name</td>

				<td>
					<a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
				</td>

			</tr>
		}

	</tbody>

</table>